/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v51-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v51-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
--Red: hsl(4, 100%, 67%);
--Blue-800: hsl(234, 29%, 20%);
--Blue-700: hsl(235, 18%, 26%);
--Grey: hsl(0, 0%,58%);
--White: hsl(0, 0%, 100%);
}

.attribution {
     font-size: 13px; 
     text-align: center;
     margin: 60px 0 30px 0;
     }
.attribution a { color: hsl(233, 22%, 93%); }    

*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
img,
picture,
svg{
    max-width: 100%;
    display: block;
}
body{
    background-color: var(--Blue-700); 
    font-family: "roboto", Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main{
    width: 350px;
    background-color: var(--White);
    position: absolute;
    margin-bottom: 50px;
    
}
.diagram-box{
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    border-radius: 0 0 20px 20px;
}
.illustration{
    width:100% ;
    height: 100%;
   
    object-fit: cover;
    border-radius: 0 0 25px 25px;
}
.content{
    padding: 25px 35px 0 30px;
    
}

.content ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}
.content li{
    list-style: none;
    display: flex;
    align-items: start ;
    gap: 15px;
    
}
.content h1{
    color: var(--Blue-800);
    margin-bottom: 25px;
}
.cta{
    margin-bottom: 25px;
}
.content p{
    font-size: 0.9rem;
    line-height: 20px;
    color: var(--Blue-700);
}
.content li img{
    width: 1.1rem;
}
.email{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.email-content{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}
.email-content p{
    font-size: 0.75rem;
    font-weight: 800;
}
.email-content > p:nth-child(2){
    color: red;
    display: none;
    
}

.error-note{
    display: block;
    
}

input{
    padding: 12px 17px;
    color: var(--Blue-800);
    border-radius: 5px;
    border: 1px solid var(--Grey);
    margin-bottom: 20px;
}

.email-input.error{
    border: 2px solid var(--Red);
    background-color: hsla(4, 100%, 67%, 0.288);
    color: var(--Red);
}

button{
    padding: 12px;
    width: 100%;
    background-color: var(--Blue-800);
    color: var(--White);
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    transition: 0.5s;
}
button:hover{
    cursor: pointer;
    background-color: var(--Red);
}
.mobile-success{
    height: 670px;
    padding: 90px 30px 30px 30px;
    visibility: hidden;
    opacity: 0;
    position: relative;
    background-color: white;
    width: 350px;
}
.mobile-success img{
    width: 3rem;
    margin-bottom: 35px;
}
.mobile-success h1{
    margin-bottom: 30px;
    color: var(--Blue-800);
}
.mobile-success p{
    font-size: 0.9rem;
    line-height: 22px;
    color: var(--Blue-700);
}
.mobile-success p span{
    font-weight: 800;
    color: var(--Blue-800);
}
.mobile-success button{
    position: relative;
    bottom: -230px;
    
}   
.mobile-success.opened{
    visibility: visible;
    opacity: 1;
}
@media (min-width: 700px){
    main{
         width: 768px;
        height: 550px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 18px;
        border-radius: 20px;
    }
     .diagram-box{
        background-image: url(./assets/images/illustration-sign-up-tablet.svg);
        height: 100%;
        width: 46%;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        
    }
     .content{
        padding: 50px 0 20px 20px;
        width: 48%;
    
   }
    .content h1{
        margin-bottom: 28px;
        font-size: calc(50/16 * 1rem);
    }
     .content p{
        font-size: 0.9rem;
        line-height: 1.2rem;
    
    }
     .content li img{
        width: 1.1rem;
    }
    .email-content p{
        font-size: 0.7rem;
    }
    input{
        padding: 13px 17px;
    }
    button{
        padding: 15px 12px;
    }
     .mobile-success{
        height: 550px;
        padding: 50px;
        width: 500px;
        border-radius: 20px;
        margin-bottom: 10px;
    }     

    .mobile-success img{
        width: 4.5rem;
        margin-bottom: 30px;
    }
    .mobile-success h1{
        margin-bottom: 25px;
        font-size: 3.7rem;
        line-height: 60px;
    }
    .mobile-success p{
        font-size: 1rem;
        line-height: 25px;
        
    }
    
    .mobile-success button{
        bottom: -50px;
    } 
}
    
@media (min-width: 980px) {
    main{
        background-color: var(--White);
        width: 960px;
        height: 600px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 20px 20px ;
        border-radius: 20px;
       
    }
    .diagram-box{
        background-image: url(./assets/images/illustration-sign-up-desktop.svg);
        background-color: red;
        height: 100%;
        width: 46%;
        background-size: cover ;
        border-radius: 20px;
    }
    .content{
        padding: 60px 0 20px 20px;
        width: 48%;
    
   }

    .content h1{
        margin-bottom: 35px;
        font-size: calc(60/16 * 1rem);
    }

    .content p{
        font-size: 1.15rem;
        line-height: 1.5rem;
    
    }

    .content li img{
        width: 1.4rem;
    }
    .email-content p{
        font-size: 0.8rem;
    }
    input{
        padding: 15px 17px;
    }
    button{
        padding: 15px 12px;
    }

    .mobile-success{
        height: 550px;
        padding: 50px;
        width: 500px;
        border-radius: 20px;
        margin-bottom: 10px;
    }     

    .mobile-success img{
        width: 4.5rem;
        margin-bottom: 30px;
    }
    .mobile-success h1{
        margin-bottom: 25px;
        font-size: 3.7rem;
        line-height: 60px;
    }
    .mobile-success p{
        font-size: 1rem;
        line-height: 25px;
    }
    
    .mobile-success button{
        bottom: -50px;
    }     
}
